<div class=" container-fluid">
  <app-menu></app-menu>
  <div class="row  " style="margin-top:1%">
   <div class="col-6 text-center">
     <div class="row">
         <div class="col-3"></div>
         <div class="col-7">
            <h1 style="margin:2%; margin-top:6%; color:rgb(151, 187, 51) "> <strong>Aidez vos voisins</strong> </h1>
            <h4 style="margin:2%; margin-bottom:20%; color:rgb(151, 187, 51)"><strong> Partagez <br> et faites vous plaisir</strong> </h4>
         </div>
     </div>
    
     
  </div>
   <div class="col-6 divhed"></div>

    
  </div>
 

  <div class="row justify-content-around" style="padding-top: 2%; background-color: #f2f2f2">
    <div *ngIf="mode==1" class="col-6">

      <div class=" text-center align-items-center justify-content-center navigation" style="background-color: rgb(51, 181, 229);margin-top: 0%; padding-top: 0%;">
        <p class="h4 mb-4" style="font-size: 1.5rem; color:whitesmoke">Faite votre publication</p>

        <p style="font-size: 1rem; color:#333333">Une publication bien décrite et bien précise a plus de chanse
          approuvépar vos voisins </p>
      </div>
      <div class="border " style="padding:2%; background-color: hsl(0, 0%, 95%)">
        <h5 style="color:gray">Paramètres de mes publications:</h5>
        <div class="row">
          <div class="col-3">
            <div class="form-check">
              <label class="form-check-label" for="defaultAdresse">
                Adresse par défaut
              </label>
              <input class="form-check-input" style="margin-left:1%; height:15px; width:15px;" type="checkbox" value="" id="defaultAdresse" checked>
            </div>
          </div>
          <div class="col-5">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-home"></i></div>
              </div>
              <input type="text" class="form-control" id="newAdresse"  [(ngModel)]="offerAdress"  placeholder="Nouvelle Adresse" >
            </div>
          </div>
          <div class="col-3 rayon">
              <div class="input-group mb-1">

                  <input type="text" class="form-control" id="rayon" placeholder="Rayon"  [(ngModel)]="rayon">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Km</div>
                  </div>
                </div>

          </div>



        </div>
      </div>
      <!-- Default form subscription -->
      <div class=" border border-light " style="padding:2%">

        <h5 class="text-left" style="margin-top: 1%; color:rgb(51, 181, 229);">
          1-Vous Proposez:
        </h5>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" style="height:17px; width:17px;" checked [(ngModel)]="typeProduct"
            name="objet" id="objet" value="objet">
          <label class="form-check-label" for="objet"> <span style="font-size:1.2rem">Un Objet</span></label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" style="height:17px; width:17px;" checked [(ngModel)]="typeProduct"
            name="service" id="service" value="service">
          <label class="form-check-label" for="service"><span style="font-size:1.2rem">Un service</span></label>
        </div>
        <h5 class="text-left" style="margin-top: 3%; color:rgb(51, 181, 229);"> 2- Donner un nom à votre publication:
        </h5>
        <input type="text" class="form-control mb-4" placeholder="nom de la publication" [(ngModel)]="offre.nomPublication" >
        <h5 class="text-left" style="margin-top: 3%; color:rgb(51, 181, 229);">3- Commentez votre publication </h5>
        <div class="form-group blue-border-focus  shadow-textarea">

          <textarea class="form-control" id="description" name="description"  rows="2" placeholder="Une publication bien décrite a plus de chances d'etre approuvé par vos voisins"  [(ngModel)]="offre.description" ></textarea>
        </div>

        <h5 *ngIf="typeProduct === 'objet'" class="text-left" style="margin-top: 3%; color:rgb(51, 181, 229);">3-
          Choissisez la catégorie de l'objet: </h5>
        <!-- -->
        <div *ngIf="typeProduct === 'objet'" class="row">

          <div class="form-group col-6">
            <label for="categories">Catégorie</label>
            <select id="categories" class="form-control" [(ngModel)]="objet.catObjet">
              <option label="--Choisir catégorie --"></option>
              <option value="Ouitillage et travaux">Outillage et travaux</option>
              <option value="Matériel de jardin">Matériel de jardin</option>
              <option value="Maison et confort">Maison et confort</option>
              <option value="Evénement, Réception & Fête">Evénement, Réception & Fête</option>
              <option value="High Tech">High Tech</option>
              <option value="Fournitures de bureau">Fournitures de bureau</option>
              <option value="Loisirs">Loisirs</option>
              <option value="Livres, Magazines & BD">Livres, Magazines & BD </option>
              <option value="Mode & Accessoires Adulte">Mode & Accessoires Adulte</option>
              <option value="Mode Enfant, Bébé & Puériculture">Mode Enfant, Bébé & Puériculture</option>
              <option value="Bien-être & Bagagerie">Bien-être & Bagagerie</option>
              <option value="Transport & Accessoires Auto , Moto & Bateau">Transport & Accessoires Auto , Moto & Bateau</option>
              <option value="Immobilier">Immobilier</option>
            
            </select>
          </div>
          <div class="form-group col-6">
            <label for="nomProduit">Donner un nom à cet objet</label>
            <input type="text" class="form-control" id="nomProduir" name="nomProduit" placeholder="nom du produit" [(ngModel)]="objet.productName">
          </div>
          <div class="form-group col-md-12">
            <label for="typeExploitation">Nature de l'offre</label>
            <select id="typeExploitation" name="typeExploitation" class="form-control"  [(ngModel)]="objet.modeExpl" >
              <option value="Location" selected>Location</option>

              <option value="Vente">Vente</option>
              <option value="Don Gratuit">Don gratuit</option>
            </select>
          </div>

        </div>

        <div *ngIf="typeProduct === 'objet' " class="form-row justify-content-around">
          <div *ngIf="typeExploitation === 'Location'" class="col-sm-6 my-1">
            
            <select id="typeFActurationObjet" name="typeFacturationObjet" class="form-control"  [(ngModel)]="objet.dureeExpl" >
              <option value="Heure" selected>/Heure</option>

              <option value="Jour">/Jour</option>
              <option value="Semaine">/Semaine</option>
              <option value="Mois">/Mois</option>
            </select>
          </div>
          <div class="col-sm-6 my-1">
            <label class="sr-only" for="inlineFormInputGroup"></label>
            <div class="input-group mb-1">

              <input type="text" class="form-control" id="budget" name="budget" placeholder="Budget" [(ngModel)]="objet.productPrice">
              <div class="input-group-prepend">
                <div class="input-group-text">DT</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Affichage service-->
        <h5 *ngIf="typeProduct === 'service'" class="text-left" style="margin-top: 3%; color:rgb(51, 181, 229);">3-
          Choissisez la catégorie du service: </h5>
        <div *ngIf="typeProduct === 'service'" class="row row justify-content-around">

          <div class="form-group col-6">
            <label for="categoriesService">Catégorie</label>
            <select id="categoriesService" class="form-control" [(ngModel)]="service.catService">
              <option label="--Choisir catégorie --"></option>
              <option value="Bricolage - Travaux">Bricolage - Travaux</option>
              <option value="Jardinage - Piscine">Jardinage - Piscine</option>
              <option value="Déménagement - Manutention">Déménagement - Manutention</option>
              <option value="Dépannage - Réparation de matériel">Dépannage - Réparation de matériel</option>
              <option value="Entretien - Réparation véhicules">Entretien - Réparation véhicules</option>
              <option value="Services véhiculés">Services véhiculés</option>
              <option value="Services à la personne">Services à la personne</option>
              <option value="Enfants">Enfants</option>
              <option value="Animaux">Animaux</option>
              <option value="Informatique et web">Informatique et web</option>
              <option value="Photographie - Vidéo">Photographie - Vidéo</option>
              <option value="Animation - Evénements">Animation - Evénements</option>
              <option value="Cours - Formations">Cours - Formations</option>
              <option value="Administratif - Bureautique">Administratif - Bureautique</option>
              <option value="Mode - Santé - Bien être">Mode - Santé - Bien être</option>
              <option value="Restauration - Réception">Restauration - Réception</option>
              
    
            </select>
          </div>
          <div class="form-group col-6">
            <label for="nomProduit">Donner un nom à ce service</label>
            <input type="text" class="form-control" id="nomProduir" name="nomProduit" placeholder="nom du produit" [(ngModel)]=" service.productName">
          </div>
          <div class="row  justify-content-around">
            <div class="col-8">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Type de facturation</label>
                <select class="form-control" id="TypeFacturation" [(ngModel)]="service.typeFacturation" >
                  <option value="Budget à l'heure" selected>Budget à l'heure</option>
                  <option value="Budget par jour">Budget par jour </option>
                  <option value="Budget globale">Budget globale</option>
                  <option value="Sur devis">Sur devis</option>
                  <option value="Budget non rémunéré">Budget non rémunéré</option>
                </select>
              </div>

            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Prix</label>
                <div class="input-group mb-1">

                  <input type="text" class="form-control" id="budgetService" placeholder="Budget" [(ngModel)]="service.productPrice">
                  <div class="input-group-prepend">
                    <div class="input-group-text">DT</div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


        <!-- Affichage service-->



        <h5 class="text-left" style="margin-top: 3%; color:rgb(51, 181, 229);"> 4- Expiration de votre offre: </h5>

        
          <input  type="date"  placeholder="Choose a date" [(ngModel)]="offre.dateExpiration" >
         

        <div class="row align-items-center justify-content-center">
          <button class="btn btn-success btn-block" style="width: 50%;" (click)="poster()">Poster votre publication</button>
        </div>

      </div>
      <!-- Default form subscription -->

     <!--Publication posté-->
     
    
     <!--Publication posté-->

    </div>
    <div  *ngIf="mode==2" class="card text-center col-6 "  style=" padding-left:2%;padding-right:2%; margin-top:2%; margin-left:1%; margin-right:1%; margin-bottom:10%">
        <div class="card-header">
          Votre Publication à bien été publié à vos voisins
        </div>
        <div class="card-body">
          <h5 class="card-title">Nom de la publication: {{offre.nomPublication}} </h5>
          <p class="card-text">Description de la publication: {{offre.description}} </p>
          <a  class="btn btn-primary" (click)="reposter()">Poster une autre publication à vos voisins</a>
        </div>
        <div class="card-footer text-muted">
          
        </div>
      </div>

    <div class="col-6 justify-content-center align-items-center ">

      <div class="navigation  justify-content-center align-items-center text-center" style="padding: 2%;">
        <h4 style="color:#009900">Récapulatif de toute mes publications</h4>
        <h5 style="color:gray"> Objets:</h5>
        <h5 style="color:gray"> Services:</h5>
        <hr>
        <div class="row justify-content-center" style="margin-bottom: 10%; margin-top: 10%">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-right: 2%">Voir toute mes
            publications</button>
        </div>
      </div>


    </div>

  </div>

</div>