.cont{
    background-image: url('../../assets/Cuo2n_nXEAAyPSl.jpg');
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}