<div class="row cont">


  <div class="col-6 align-item-center justify-content-center">



    <div class="row align-items-center justify-content-center">
      <div *ngIf="mode==1" class="col-11 card text-center" style=" padding-left:2%;padding-right:2%; margin-top:2%; margin-left:1%; margin-right:1%; margin-bottom:5%">
        <form>
          <h3 style="margin-top: 1%">Bienvenue sur TousVoisins:</h3>
          <h5>Créez un nouveau compte</h5>
          <!--FirstRow-->
          <div class="row rows">

            <div class="col-4 text-justify">
              <h5>Sexe:</h5>
            </div>


            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Homme"
                checked [(ngModel)]="simpleUser.userGender">
              <label class="form-check-label" for="inlineRadio1">Homme</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Femme"
                [(ngModel)]="simpleUser.userGender">
              <label class="form-check-label" for="inlineRadio2">Femme</label>
            </div>


            <div class="col-2"> </div>
            <hr>
          </div>
          <!--First Row-->

          <!--Second Row-->
          <div class="row rows " style="padding:1%">
            <div class="col-3 text-justify">
              <h5>Identité:</h5>
            </div>
            <div class="col-4">
              <input type="text" class="form-control mb-4" name="name" placeholder="Votre nom ici" [(ngModel)]="simpleUser.userName">

            </div>
            <div class="col-4">
              <input type="text" class="form-control mb-4" name="lastName" placeholder="Votre penom ici" [(ngModel)]="simpleUser.userLastName">
            </div>
            <hr>
          </div>
          <!--Second Row-->

          <!--third Row-->
          <div class="row rows " style="padding:1%">
            <div class="col-2 text-justify">
              <h5>Adresse</h5>
            </div>
            <div class="col-4">
              <input type="text" class="form-control mb-4" name="Street" placeholder="Rue" [(ngModel)]="simpleUser.userAdresse.street">


            </div>
            <div class="col-3">
              <input type="text" class="form-control mb-4" name="City" placeholder="ville" [(ngModel)]="simpleUser.userAdresse.city">
            </div>
            <div class="col-3">
              <input type="text" class="form-control mb-4" name="zipCode" placeholder="Code Postal" [(ngModel)]="simpleUser.userAdresse.zipCode">
            </div>

            <hr>
          </div>

          <!--Third Row-->
          <div class="form-group row" style="margin-top: 5%">

            <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" name="mail" id="inputEmail3" placeholder="Email" [(ngModel)]="simpleUser.userEmail">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 col-form-label">Mot de passe</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="password1" id="inputPassword3" placeholder="Password"
                [(ngModel)]="simpleUser.userPassword">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 col-form-label">Confirmer Mot de passe</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="password2" id="inputPassword4" placeholder="Password"
                [(ngModel)]="simpleUser.userPassword">
            </div>
          </div>

          <hr>


          <div class="form-group row align-items-center justify-content-center">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary" style="width: 100%" (click)=" register()">Creez votre
                compte</button>
            </div>
          </div>


        </form>
      </div>


      
        <div *ngIf="mode==2" class="card text-center" style=" padding-left:2%;padding-right:2%; margin-top:25%; margin-left:1%; margin-right:1%; margin-bottom:25%">
          <div class="card-header">
            Votre Compte a bien été crée
          </div>
          <div class="card-body">
            <h5 class="card-title">Bienvenue {{simpleUser.userName}} {{simpleUser.userLastName}} sur le site Tous Voisons</h5>
            <p class="card-text">Votre Profil n'est pas encore complet à 100%, vous pouvez encore complétez vos information personnel sur l'ongler EditerMonProfil </p>
            <a  class="btn btn-primary" (click)="connecter()">Accedez a votre compte</a>
          </div>
          <div class="card-footer text-muted">
            
          </div>
        </div>

     
    </div>

  </div>
  <div class="col-6 back">


  </div>

</div>