.head{
    background-color: #e3f2fd;
}
.bod{
    background-color:rgb(225, 225, 225);
}

#map { height: 250px;
    width: 100%;
     }
.r2{
        position: absolute;
        left: 70px;
        top: 100px;
        z-index: 2;
     }
     .r1{
        position: absolute;
        left: 0px;
        top: 63px;
        z-index: 1;
     }
     .r2{
        position: absolute;
        
        left: 70px;
        top: 100px;
        z-index: 2;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     .r3{
        position: absolute;
        padding: 1%;
        color: white;
        font-size: 1.5rem;
        background-color: #00cc66;
        left: 520px;
        top:  270px;
        z-index: 3;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     .r4{
        position: absolute;
        background-color: #ff0066;
        padding: 1%;
        color: white;
        font-size: 1.5rem;
        left: 720px;
        top:  270px;
        z-index: 4;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     .r5{
        position: absolute;
        background-color: #66ccff;
        padding: 1%;
        color: white;
        font-size: 1.5rem;
        left: 890px;
        top:  270px;
        z-index: 5;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     .r6{
        position: absolute;
        left: 1120px;
        padding: 1%;
        color:gray;
        font-size: 1.5rem;
        background-color: white;
        top: 270px;
        z-index: 6;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }

     .checked {
        color: #F9E005;
      }
      hr{
        margin: 5%;
        width: 50%;
        height: 2px;
        background-color:grey;
        border: none; /*on supprime le style par défaut*/
      }
      .badge{
        width: auto;
         height: 20%;
          font-size: 1.2rem;
           margin:2%;
            padding: 1%;

      }
      