<div class="container-fluid bod">
  <div>
    <app-menu></app-menu>

  </div>
</div>
<div class="row  ">
  <div class="r1" id="map"></div>
  <div class=" r2">
    <div class="card" style="width: 25rem;">
      <div class="card-body align-items-center justify-content-center text-center">
        <h5 class="card-title">Profil de votre voisin</h5>
        <img src="../../assets/image-de-homme_1.jpg" style="width:50%; height:50%" class="rounded-circle rounded mx-auto d-block"
          alt="profil">
        <h4> {{profil.userName}} {{profil.userLastName}}</h4>
        <mat-card-subtitle><i class="fas fa-map-marker-alt"></i>La marsa</mat-card-subtitle><br>
        <span class="badge badge-pill badge-light">Particulier</span><br>
        <br>
        <p>86 Avis</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>

      </div>
    </div>
  </div>

  <div class="r3">
    <h3> 24  </h3>
    <h4>Propositions</h4>
  </div>
  <div class="r4"> 
    <h3> 12 </h3>
    <h4>Demandes</h4>
  </div>
  <div class="r5"> 
    <h3> 10  </h3>
    <h4>Marché conclue</h4>
  </div>
  <div class="r6">
    <h3> 70%  </h3>
    <h4>Taux de réponse</h4>
  </div>

<div class="row">
  <div class="col-4"></div>
  <div class="col-6" style="position: absolute; top:400px; left:500px">
    <h3>A propos de moi:</h3> 
    <p style="font-size: 1.2rem">Bonjour,Je suis Electricien Auto avec beaucoup d'expériences dans le domaine de la réparation automobile.
      Je suis Mécanicien électricien Auto et je peux vous aider pour vos problèmes de pannes,
       réparations électriques, ou mécaniques.</p>
     <hr>
       <h3>Je répond aux demandes de:</h3>  
       <span class="badge badge-pill badge-primary">Eléctrécité</span>
       <span class="badge badge-pill badge-primary">Mécanique</span> 
       <span class="badge badge-pill badge-primary">Pré-Diagnistic</span> 
       <span class="badge badge-pill badge-primary">Livraison de collis</span> 
       <span class="badge badge-pill badge-primary">Covoiturage</span> 
       <hr>
       <h3>Capitale de confiance:</h3>
       <p>Avis des voisins (Total 86 avis):</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <h5>Commentaires des voisins:</h5>
  </div>
</div>



</div>