.divhed{
    background-image: url('../../assets/smiile.png');
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

}

.titre{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1px;


    
  
    
}